# Environment Variables for Smyl

# Gemini API Key (Server-Side only)
GEMINI_API_KEY=

# Supabase Configuration (Client-side and Server-side)
VITE_SUPABASE_URL= https://ktamtwijmaxcblbwotqn.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0YW10d2lqbWF4Y2JsYndvdHFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NjczMTUsImV4cCI6MjEwNDE0MzMxNX0.H29MeGo127jKWezxjeyzetcuyCtXxXt4lamI0IAcrfE
VITE_SUPABASE_PUBLISHABLE_KEY= sb_publishable_dI1yHmu9oqN38tygDpoVBw_WngrbdGN
