# Supabase Configuration
VITE_SUPABASE_URL= 
VITE_SUPABASE_PUBLISHABLE_KEY =
VITE_SUPABASE_ANON_KEY= 
SUPABASE_SERVICE_ROLE_KEY= 

# Dodo Payments Configuration
DODO_API_KEY=
DODO_WEBHOOK_SECRET=
DODO_CREATOR_PRODUCT_ID=
DODO_PRO_PRODUCT_ID=
DODO_LIFETIME_PRODUCT_ID=
